<style>
  .footer{
      display: flex;

      position: fixed;
      bottom: 0px;
      width: 100%;
      background-color:#f8f8f8;
      border-color:#e7e7e7
  }
  .footer a{
     margin:  1rem;
  }
</style>
<div class="footer" >
    <a href="mailto:simona_ds@hotmail.com" target="_blank">simona_ds@hotmail.com</a>
    <a  target="_blank" href="https://www.facebook.com/Menuvacnica-Simona-Ds-101491108222903" > <i  class="fa fa-facebook" aria-hidden="true"></i></a>
    <a  target="_blank" href="https://twitter.com/menuvacnica"><i  class="fa fa-twitter" aria-hidden="true"></i></a>
    <a  target="_blank" href="https://www.instagram.com/menuvacnicasimonads/"><i  class="fa fa-instagram" aria-hidden="true"></i></a>
    <a  href="callto:+38975261910">+38975261910</a>
</div>

</body>
</html>