<body xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .nav-link {
        color: #e7e7e7;
    }
    .navbar-brand{
        color: #e7e7e7;
    }
    .nav-item:hover{
        background-color:#337ab0;
    }
</style>
<!--<a class="navbar-brand " th:href="@{'/'(lang=${lang})}" th:text="${lang=='EN'}?'Exchange Office Simona-DS':'Менувачница Симона-ДС'"></a>-->

<!--<li class="nav-item" ><a  class="nav-link" th:href="@{'/'(lang=${lang})}" th:text="${lang}=='EN'?'Exchange rates':'Курсна листа'"></a></li>-->
<!--<li class="nav-item"><a class="nav-link" th:href="@{'/calculator'(lang=${lang})}" th:text="${lang}=='EN'?'Calculator':'Калкулатор'"></a></li>-->
<!--<li class="nav-item"><a class="nav-link" th:href="@{'/map'(lang=${lang})}" th:text="${lang}=='EN'?'Map':'Локација'"></a></li>-->
<!--<li class="nav-item"><a class="nav-link"th:href="@{'/contact'(lang=${lang})}" th:text="${lang}=='EN'?'Contact':'Контакт'"></a></li>-->

<!--<div style="float: right; font-size: large; color: #777777;">-->
<!--    <a th:href="@{''(lang='MK')}" onclick="changeLanguage(event)">MK</a>-->
<!--    |-->

<!--    <a th:href="@{''(lang='EN')}" onclick="changeLanguage(event)">EN</a>-->

<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand " th:href="@{'/'(lang=${lang})}" th:text="${lang=='EN'}?'Exchange-Office Simona-DS':'Менувачница Симона-ДС'"></a>            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a  class="nav-link" th:href="@{'/'(lang=${lang})}" th:text="${lang}=='EN'?'Exchange rates':'Курсна листа'"></a>                    </li>
                    <li class="nav-item m-auto" >
                        <a class="nav-link" th:href="@{'/calculator'(lang=${lang})}" th:text="${lang}=='EN'?'Calculator':'Калкулатор'"></a>                    </li>
                    <li class="nav-item m-auto" >
                        <a class="nav-link" th:href="@{'/map'(lang=${lang})}" th:text="${lang}=='EN'?'Map':'Локација'"></a>

                    </li>
                    <li class="nav-item m-auto" >
                        <a class="nav-link"th:href="@{'/contact'(lang=${lang})}" th:text="${lang}=='EN'?'Contact':'Контакт'"></a>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">

                            <a class="nav-link" th:href="@{''(lang='MK')}" onclick="changeLanguage(event)">MK</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{''(lang='EN')}" onclick="changeLanguage(event)">EN</a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<script th:inline="javascript" type="text/javascript">
    const changeLanguage=(event)=>{
    }

</script>



</body>
</html>
