<table class="table table-striped" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
    <th th:text="${lang}=='EN'?'Country':'Држава'"></th>
    <th th:text="${lang}=='EN'?'Currency':'Валута'"></th>

        <th th:text="${lang}=='EN'?'Is for':'Важи за'"></th>
        <th th:text="${lang}=='EN'?'Buying (DEN)':'Куповен (ДЕН)'"></th>
        <th th:text="${lang}=='EN'?'Selling (DEN)':'Продажен (ДЕН)'"></th>




    </tr>
    </thead>
    <tr th:each="c : ${changingCurrencies}">
        <td th:text="${lang}=='EN'?${c.getCurrency().getCountryEN()}:${c.getCurrency().getCountry()}"></td>
        <td th:text="${c.getCurrency().getName()}"></td>
        <td th:text="${c.getAmount()}"></td>
        <td th:text="${c.getBuying()}"></td>
        <td th:text="${c.getSelling()}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a  th:href="@{'/admin/change/'+${c.getCurrency_id()}}" class="btn btn-info">Промени</a></td>
    </tr>
</table>
</div>

</body>
</html>